<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
  %>


<html>
  <body>
    <h1 style="color: red; text-align: center" > <strong> Texas Rangers 2014 Top Prospects</strong></h1>
    <p>
      <a href='me.html'>About the Author</a>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h2>Friends</h2>
      <%= link_to('Lone Star Ball', 'www.lonestarball.com') %>
      <%=link_to('Minor League Baseball', 'www.milb.com') %>
        <p>*Schindler*</p>
    </div>
  </body>
</html>