<! DOCTYPE html>
<html>
<head>
	<title>
		Texas Rangers 2014 Prospects
	</title>
</head>
<body>
	<ol>
		<% ['Jorge Alfaro', 'Rougned Odor', 'Michael Choice', 'Alex Gonzalez', 'Luke Jackson', 'Luis Sardinas', 'Nick Williams',
			'Joey Gallo', 'Ronald Guzman', 'Lewis Brinson'].each do |player| %>
				<li> <%= player %> </li>
				<% end %>
		</ol>
		<div>
			<p>
				The Rangers have a strong crop of kids down on the farm.  There are many high risk - high reward types that
				could help the big leauge team tremendously if they reach their potential.
			</p>
		</div>
	</body>
	</html>


